body {
  min-width: 35rem;
  text-align: center;
}
textarea {
  margin-top: 1rem;
  width: 90%;
}
p {
  font-size: 1rem;
}
#result {
  /* background-color: antiquewhite; */
  width: 90%;
  margin: auto;
  padding: 10px;
  text-align: start;
  /* border-radius: 10px 10px 10px 10px; */
}
#buttons {
  width: 90%;
  margin: auto;
  margin-bottom: 0.4em;
  padding: 0;
  text-align: center;
}

#buttons button {
  margin: 0.2em;
  padding: 0.7em;
}
